{{ define "main" }}

<div class="breadcrumb-area">
    <div class="container h-100">
      <div class="row h-100 align-items-end">
        <div class="col-12">
          <div class="breadcumb--con">
            <h2 class="title">Contact</h2>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Contact</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <div class="breadcrumb-bg-curve">
      <img {{ with .Site.Params.lazyloading.enabled }} loading="lazy" {{end}} src="/img/core-img/curve-5.png" alt="">
    </div>
  </div>


  <section class="uza-contact-area section-padding-80">
    <div class="container">
      <div class="row justify-content-between">

        <div class="col-12 col-lg-8">
          <div class="uza-contact-form mb-80">
            <div class="contact-heading mb-50">
              <h4>{{.Params.titlemain}} <br>{{.Params.subtitle}}
              </h4>
            </div>
            {{ $contact_form_submission_url :=.Site.Params.contact_form_submission_url }}
            <form id="formElem" method="POST" action="{{ $contact_form_submission_url }}" onsubmit="send(event,this)">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <input type="text" class="form-control mb-30" name="name" id="name" placeholder="Name" required>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <input type="email" class="form-control mb-30" name="email"  id="email"  placeholder="Email" required>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <input type="text" class="form-control mb-30" name="phone" id="phone" placeholder="Phone" required>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <input type="text" class="form-control mb-30" id="organization" name="organization" placeholder="Organization" required>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <textarea required class="form-control mb-30" name="message" id="message" rows="8" cols="80"
                      placeholder="Message"></textarea>
                  </div>
                </div>
                <div class="col-12" id="submitbutton">
                  <button type="submit"  class="btn uza-btn btn-3 mt-15" >Contact Us</button>
                </div>
                <div class="title-wrapper has-text-centered" id="successwrap" style="margin-top: 28px; display:none;">
                  
                  <h3 style="color: green;" class="subtitle icon-box-title" id="successmsgheading"> <img src="/img/bg-img/checked.png" style="width: 50px;"> {{ .Site.Params.contact_form_submission_success_line1 }}</h2>
                  <h3 style="color: green;" class="subtitle is-5 is-muted" id="successmsgsubheading">
                    {{ .Site.Params.contact_form_submission_success_line2 }}
                    <br>
                  </h3>
                  
                </div>
              </div>
            </form>
          </div>
        </div>

        {{ if eq .Params.contact.status "enabled" }}
        <div class="col-12 col-lg-3">
          <div class="contact-sidebar-area mb-80">
            {{- $address  := .Params.contact.address }}
            {{ range $address }}
                {{ if .enabled }}
                    <div class="single-contact-card mb-50">
                    <h4>{{ .title }}</h4>
                    <h3>{{ .contactnum }}</h3>
                    <h6><a href="mailto:{{ .email }}">{{ .email }}</a></h6>
                    <h6>{{ .openinghours | safeHTML  }}</h6>
                    </div>
                {{end}}
            {{ end }}
          </div>
        </div>
       {{ end }}
      </div>

      {{ if eq .Params.map.status "enabled" }}
      <div class="row">
        <div class="col-12">
          <div class="google-maps">
            <iframe
              src="{{.Params.map.link}}"
              allowfullscreen></iframe>
          </div>
        </div>
      </div>
      {{end}}
    </div>
  </section>

  <script>
    function send(e,form) {
      e.preventDefault();
      document.getElementById('successwrap').style.display = 'none';
      /*fetch(form.action, {method:'post', body: new FormData(form)});
      console.log('send post asynchronously (AJAX)');*/
  
      //var data =  new FormData(form);
      var email = document.getElementById('email').value;
      var name = document.getElementById('name').value;
      var organization = document.getElementById('name').organization;
      var phone = document.getElementById('name').phone;
      var message = document.getElementById('message').value;

      fetch("{{$contact_form_submission_url}}", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            Accept: "application/json",
          },
          body: JSON.stringify({
             email: email,
             name: name,
             organization: organization,
             phone: phone,
             message: message,
           // data
          }),
        })
          .then(function (response) {
            console.log(response);
            document.getElementById('successwrap').style.display = 'block';
            var anchor = document.querySelector('#submitbutton');
             document.getElementById('submitbutton').style.display = 'none';
            anchor.scrollIntoView();
          })
          .catch(function (error) {
            console.error(error);
            document.getElementById('successmsgheading').innerHTML = 'SomeThing Went Wrong Please Try Again';
            document.getElementById('successmsgsubheading').innerHTML = '';
            document.getElementById('successwrap').style.display = 'block';
            var anchor = document.querySelector('#submitbutton');
            anchor.scrollIntoView();
          });
  
  }
  </script>
  {{ end }}
  



