{{ define "main" }}

<div class="breadcrumb-area">
    <div class="container h-100">
        <div class="row h-100 align-items-end">
            <div class="col-12">
                <div class="breadcumb--con">
                    <h2 class="title">{{ .Title }}</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> Home</a></li>
                            <li class="breadcrumb-item"><a href="/categories"><i class="fa figure-caption"></i>
                                    Categories</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="uza-cf-area section-padding-80-0">
        <div class="container">
            <div class="row">

                {{ $data := .Data }}
                {{ range $key,$value := .Data.Terms.ByCount }}
                <div class="col-12 col-sm-12 col-lg-2">
                    <div class="single-cf-area d-flex align-items-center mb-80">
                        <h2><span class="counter">{{ $value.Count }}</span></h2>
                        <div class="cf-text">
                            <div class="bg-icon"><i class="icon_book_alt"></i></div>
                            <h6><a style="font-size: 12px;" href="/{{ $data.Plural }}/{{ $value.Name | urlize }}">{{ $value.Name }}</a></h6>
                        </div>
                    </div>

                </div>
                {{end}}


            </div>
        </div>
    </div>

    

        {{ end }}